@import "tailwindcss";
@plugin './hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,jsx}';
@custom-variant dark (&:is(.dark *));
@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  body {
    margin: 0;
  }
  h1 {
    @apply text-6xl font-bold;
  }
  h2 {
    @apply text-5xl font-bold;
  }
  h3 {
    @apply text-4xl font-bold;
  }
  h4 {
    @apply text-3xl font-bold;
  }
  h5 {
    @apply text-2xl font-bold;
  }
  h6 {
    @apply text-xl font-bold;
  }
}
@layer components {
  .container {
    @apply mx-auto px-4;
  }
}